<!DOCTYPE html>
<html>
<head>
<title>zeal college profile</title>
<link rel="stylesheet"href="c
</head>
<body bg color="lightgrey">
<h1 align="center">Student Profile</h1>
<div style="width: 600px;height:600px;text-align:center;">
